
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");
/* ======================================================== */
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    min-width: 20rem;
    line-height: 1;
}
a {
    color: inherit;
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
button{
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
}
/* ======================================================== */
body{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    color: #737373;
}
/* ======================================================== */
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}
.page{
    flex: 1 1 auto;
}
/* ======================================================== */
[class*="__container"] {
    max-width: 1325px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
}
/* ======================================================== */
.header__container{
    height: 157px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list{
    display: flex;
}
.menu__item:not(:last-child){
    margin-right: 94px;
}
.menu__link{
    color: #252B42;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75%; /* 28/16 */
    letter-spacing: 0.2px;
    transition: color 0.2s;
}
.menu__link:hover{
    color: #FA4A0C;
}
.header__mobile-menu{
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    display: none;
}
.header__mobile-menu span{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #000;
    left: 4px;
    border-radius: 4px;
    transition: transform 0.4s;
}
.header__mobile-menu span:nth-child(1){
    transform: translateY(-10px);
}
.header__mobile-menu span:nth-child(3){
    transform: translateY(10px);
}
.header.open .header__mobile-menu span:nth-child(1){
    transform: translateY(0) rotate(45deg);
}
.header.open .header__mobile-menu span:nth-child(2){
    opacity: 0;
}
.header.open .header__mobile-menu span:nth-child(3){
    transform: translateY(0) rotate(-45deg);
}



















@media (max-width: 768px){
    .menu__item:not(:last-child){
        margin-right: 50px;
    }
}
@media (max-width: 630px){
    .header__logo-img{
        width: 190px;
        height: 90px;
    }
    .header__mobile-menu{
        display: block;
    }

    .menu{
        position: absolute;
        right: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #f46531;
        overflow: auto;
        visibility: hidden;
    }
    .menu__item:not(:last-child){
        margin-right: 0;
        margin-bottom: 30px;
    }
    .menu__list{
        margin-top: 120px;
        display: block;
    }
    .menu__link{
        font-size: 20px;
        padding: 30px 0px;
        text-align: center;
        display: block;
    }
    .header.open .menu{
        transform: translateX(-100%);
        visibility: visible;
    }
}